### 01 파이썬 시작하기

In [2]:
#001
print('hello world')

hello world

In [3]:
#002
print("mary's cosmetic")

mary's cosmetic

In [4]:
#003
print('신씨가 소리질렀다."도둑이야."')

신씨가 소리질렀다."도둑이야."

In [8]:
#004
print("C:\Windows")

C:\Windows

In [11]:
#005
print("안녕하세요.\n만나서\t\t반갑습니다.") #\n 은 줄바꿈, \t 탭의 역할을 합니다.

안녕하세요.
만나서		반갑습니다.

In [14]:
#006
print ("오늘은", "일요일")#오늘은 다음에 공백이 하나 있고 일요일이 출력됩니다.

오늘은 일요일

In [18]:
#007
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [19]:
#008
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [22]:
#009
print("first", end=""); print("second")

firstsecond

In [23]:
#010
print(5/3)

1.6666666666666667

### 02 파이썬 변수

In [25]:
#011
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [29]:
#012
시가총액=298000000000000
현재가=50000
per=15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [37]:
#013
s = "hello"
t = "python"
print(s+'!',t)

hello! python

In [40]:
#014
print(2+2*3)

8

In [45]:
#015
a="132"
print(type(a))

<class 'str'>

In [55]:
#016
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [59]:
#017
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [61]:
#018
data = 100
data = float(data)
print(data, type(data))

100.0 <class 'float'>

In [64]:
#019
year = 2020
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [66]:
#020
월=48584
총금액 = 월 * 36
print(총금액)

1749024

### 03 문자열

In [71]:
#021
letter = 'python'
letter[0],letter[2]

('p', 't')

In [84]:
#022
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [86]:
#023 <<< 홀수 슬라이싱 [::2]
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [94]:
#024
string = "PYTHON"
string[::-1]

'NOHTYP'

In [97]:
#025
phone_number = "010-1111-2222"
phone_number.replace('-',' ')

'010 1111 2222'

In [98]:
#026
phone_number = "010-1111-2222"
phone_number.replace('-','')

'01011112222'

In [112]:
#027
url = "http://sharebook.kr" ##문자열을 먼저 잘라
print(url[-2:])

kr

In [115]:
#028
lang='python'
lang[0]='p'
lang ##문자열은 수정할 수 없어 오류가 뜬다

NameError: name 'python' is not defined

In [129]:
#029
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

'Abcdfe2A354A32A'

In [130]:
#030
string ='abcd'
string.replace('b','B')
print(string)##abcd

abcd

In [132]:
#031
a="3"
b="4"
print(a+b) ##3과4 ##두 문자열에 대해 덧셈 기호는 문자열의 연결을 의미

34

In [133]:
#032
print("hi"*3) ##hi ##문자열에 대한 곱셈은 문자열의 반복을 의미

hihihi

In [134]:
#033
'-'*80

'--------------------------------------------------------------------------------'

In [142]:
#034
t1='python'
t2='java'
a=t1+' '+t2+' '
a*4

'python java python java python java python java '

In [151]:
#035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {name1} 나이: {0}" .format(10, name1="김민수"))
print("이름: {name2} 나이: {0}" .format(13, name2="이철희"))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [158]:
#036 ##35번 문제를 그대로 했다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {name1} 나이: {0}" .format(10, name1="김민수"))
print("이름: {name2} 나이: {0}" .format(13, name2="이철희"))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [166]:
#037 ##f-string을 사용해서 035번 문제를 다시 풀었다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print (f"이름: {name1} 나이: {age1}")
print (f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [176]:
#038
상장주식주 = "5,969,782,550"
컴마제거 = 상장주식주.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [180]:
#039
분기 = "2020/03(E) (IFRS연결)"
분기[:7] ##시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아 낸다.

'2020/03'

In [181]:
#040
data = "   삼성전자    "
data.strip()

'삼성전자'

In [182]:
#041
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [183]:
#042
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [189]:
#043
a = "hello"
a = a.capitalize()
print(a)

Hello

In [191]:
#044 ##문자열이 지정 문자열로 끝나는지 체크.
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [198]:
#045
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [200]:
#046
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [201]:
#047
a = "hello world"
a.split()

['hello', 'world']

In [209]:
#048
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
#049
date = "2020-05-01"
date.split('-')

In [210]:
#050
data = "039490     "
data.rstrip()

'039490'

### 04 리스트 자료형

In [33]:
#051
movie_rank = ['닥터스트레인지','스플릿','럭키']
movie_rank

['닥터스트레인지', '스플릿', '럭키']

In [34]:
#052 append-뒤에 추가
movie_rank = ['닥터스트레인지','스플릿','럭키']
movie_rank.append('배트맨')
movie_rank

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [35]:
#053 insert- a번째 위치의 b추가
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [36]:
#054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [37]:
#055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [38]:
#056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [39]:
#057
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [40]:
#058
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [41]:
#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [42]:
#060
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
avg

3.0

In [43]:
#061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [46]:
#062 <<< 홀수 슬라이싱 [::2]
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [50]:
#063 <<< 짝수 슬라이싱 nums[1::2]
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [53]:
#064
nums = [1, 2, 3, 4, 5]
nums.reverse()
nums

[5, 4, 3, 2, 1]

In [63]:
#065
interest = ['삼성전자', 'LG전자', 'Naver']
print (interest[0],interest[2])

삼성전자 Naver

In [67]:
#066
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [68]:
#067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [73]:
#068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [74]:
#069
string = "삼성전자/LG전자/Naver"
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [78]:
#070
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

### 05 튜플

In [82]:
#071
my_variable = ()
my_variable, type(my_variable)

((), tuple)

In [83]:
#072
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [91]:
#073 
num = (1, )
num, type(num)
##type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식하기 때문에
##하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.

((1,), tuple)

In [93]:
#074 <<< 튜플은 요솟값 변경이 안된다.
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [97]:
#075 <<< 괄호없이 동작하기도 한다.
t = 1, 2, 3, 4
t

(1, 2, 3, 4)

In [100]:
#076 <<< 튜플의 값은 변경할 수 없다.
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

In [102]:
#077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
data

['삼성전자', 'LG전자', 'SK Hynix']

In [103]:
#078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
data

('삼성전자', 'LG전자', 'SK Hynix')

In [104]:
#079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [106]:
#080 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라. <<< 전혀 모르는 문제..
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

### 06 딕셔너리

In [ ]:
#081 <<< 별표현식 문제 몰라서 오늘은 패스,,

In [ ]:
#082 <<< 별표현식 문제 몰라서 오늘은 패스,,

In [ ]:
#083 <<< 별표현식 문제 몰라서 오늘은 패스,,

In [111]:
#084
temp = {}
temp

{}

In [115]:
#085
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
dic

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [122]:
#086
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
dic['죠스바']=1200
dic['월드콘']=1500
dic

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [126]:
#087
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
print("메로나", dic['메로나'])

메로나 1000

In [128]:
#088
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
dic['메로나'] = 1300
dic

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [132]:
#089
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
del dic['메로나']
dic

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [134]:
#090 << 딕셔너리에 존재하지 않는 키를 사용하면 에러 
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (641059975.py, line 4)

In [141]:
#091
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [145]:
#092 <<< 이중 인덱싱
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory['메로나'][0],'원')

300 원

In [147]:
#093
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory['메로나'][1],'개')

20 개

In [149]:
#094
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
inventory['월드콘'] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [151]:
#095 <<< key리스트
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [152]:
#096
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [161]:
#097
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(icecream.values())

6700

In [162]:
#098
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [165]:
#099 <<< 두 개의 튜플을 하나의 딕셔너리로 변환
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [166]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

### 07 파이썬 분기문

In [1]:
#101 >>> 'bool' 타입

SyntaxError: invalid syntax (4093288537.py, line 2)

In [2]:
#102
3==5

False

In [3]:
#103
3<5

True

In [4]:
#104
x=4
1<x<5

True

In [5]:
#105
(3==3) and (4!=3)

True

In [8]:
#106
print(3=>4) ##지원하지 않는 연산자

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (254355066.py, line 1)

In [10]:
#107
if 4 < 3:
    "hello world" ##조건을 만족하는 것이 없어서 출력된 결과가 없다.

In [11]:
#108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.") ##조건을 만족하지 않기 때문에 else에서 들여쓰기 된 문장이 실행됩니다.

Hi, there.

In [15]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4") ##계층에 맞게 작성되지 않았기 때문에 else로 인식(?)이 안된것이다.

1
2
4

In [16]:
#110
if True :
    if False: ##여긴 거짓
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [19]:
#111
user = input("입력:")
user * 2

입력:안녕하세요

'안녕하세요안녕하세요'

In [25]:
#112
num = input("숫자를 입력하세요:")
print(10 + int(user))

20
짝수

In [26]:
#113
user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

23
홀수

In [36]:
#114
user = input("")
num = int(user) + 20
if num > 255:
    print(255)
else:
    print(num)

240
255

In [37]:
#115
user = input("")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 255:
    print(0)
else:
    print(num)

250
0

In [40]:
#116
time = input("현재시간:")
if time[-2:] =="00":
    print("정각입니다")
else:
    print("정각이 아닙니다")

현재시간:02:20
정각이 아닙니다

In [42]:
#117
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?:")
if user in fruit:
    print("정답입니다")
else:
    print("오답입니다")

좋아하는 과일은?:메론
오답입니다

In [50]:
#118
warn_invest_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("종목명:")
if user in warn_invest_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다.")

종목명:ㄹ
투자 경고 종목이 아닙니다.

In [51]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은:")
if user in fruit:
    print("정답입니다")
else:
    print("오답입니다")

제가좋아하는계절은:봄
정답입니다

In [53]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는과일은:")
if user in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

제가좋아하는과일은:딸기
정답입니다

In [58]:
#121
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

a
A

In [62]:
#122
score = input("score:")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
     print("grade is B")
elif 41 <= score <= 60:
     print("grade is C")
elif 21 <= score <= 40:
     print("grade is D")
else:
     print("grade is E")

score:100
grade is A

In [73]:
#123
data = input("입력: ")
tokens = data.split()
amount, currency = tokens
amount = float(amount)

if currency == "달러":
    print(amount*1167)
elif currency == "엔":
    print(amount*1.096)
elif currency == "유로":
    print(amount*1268)
else:
    print(amount*171)

입력: 100 유로
126800.0

In [74]:
#124
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 15
input number2: 40
input number3: 30
40

In [76]:
#125
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 011-123-4567
당신은 SKT 사용자입니다.

In [79]:
#126
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01399
노원구

In [49]:
#127
human = input('주민등록번호: ')
if human[7] == "1":
    print('남자')
else:
    print('여자')

주민등록번호: 821010-2635210
여자

In [52]:
#128
human = input('주민등록번호: ')
if int(human[8:10]) <=8 :
    print('서울')
else:
    print('서울이 아닙니다')

주민등록번호: 861010-1015210
서울

In [ ]:
#129

In [ ]:
#130

### 08 파이썬 반복문

In [80]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수) ##문자열 하나씩 출력이 된다.

사과
귤
수박

In [82]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [85]:
#133
print("A")
print("B")
print("C")

A
B
C

In [86]:
#134
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [96]:
#135
for i in [10, 20, 30]:
    print(i)

10
20
30

In [98]:
#137
for i in [10, 20, 30]:
    print(i)

10
20
30

In [101]:
#138
for i in [10, 20, 30]:
    print(i)
    print('------')

10
------
20
------
30
------

In [105]:
#139
print('+++')
for i in [10, 20, 30]:
    print(i)

+++
10
20
30

In [112]:
#140
for i in [1,2,3,4]:
    print("------")

------
------
------
------

In [113]:
#141
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [114]:
#142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: " + i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [118]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
    print(len(종목명))

6
4
4

In [125]:
#144
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

In [126]:
#145
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [131]:
#146  ##바인딩된 값이 숫자이기 때문에 문자로 변환 후에 문자열 연산을 사용할 수 있습니다.
리스트 = [1, 2, 3]
for 숫자 in 리스트:
    print("3X" + str(숫자))

3X1
3X2
3X3

In [148]:
#147
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3X{}={}".format(변수, 변수*3))

3X1=3
3X2=6
3X3=9

In [159]:
#148
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
    print(변수)

나
다
라

In [163]:
#149
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[::2]: ##증감폭을 2로 설정
    print(변수)

가
다

In [172]:
#150
리스트 = ["가", "나", "다", "라"] ##증감폭을 음수로 설정하면 끝에서 앞방향으로 값을 슬라이싱
for 변수 in 리스트[::-1]:
    print(변수)

라
다
나
가

In [4]:
#151
리스트 = [3, -20, -3, 44]
for i in 리스트[1:-1]:
    print(i)

-20
-3

In [6]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [8]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if (i < 20) and (i % 3 == 0):
        print(i)

12
18

In [10]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [11]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [12]:
#156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [20]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    첫글자 = i[0]
    대문자 = 첫글자.upper()
    print(대문자+i[1:])
    
    
#for 변수 in 리스트:
#  print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [28]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    name = i.split(".")
    print(name[0])

hello
ex01
intro

In [35]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split = i.split(".")
    if split[1] == "h":
        print(i)

intra.h
define.h

In [44]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split = i.split(".")
    if (split[1] == "h") or (split[1] == "c"):
        print(i)

intra.h
intra.c
define.h

In [47]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [54]:
#162
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [55]:
#163
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [63]:
#164
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [66]:
#165
for i in range(0,10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [68]:
#166
for i in range(1,10):
    print(3, "X", i, "=", 3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [71]:
#167
for i in range(1,10):
    if i %2 == 1:
        print(3, "X", i, "=", 3*i)

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [72]:
#168
result = 0
for i in range(1,11):
    result += i
print(result)

55

In [73]:
#169
result = 0
for i in range(1,11):
    if i %2 == 1:
        result += i
print(result)

25

In [74]:
#170
result = 1
for i in range(1,11):
    result = i*result
print(result)

3628800

In [78]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(0,4):
    print(price_list[i])

32100
32150
32000
32500

In [81]:
#172
price_dict = {}
price_list = [32100, 32150, 32000, 32500]
for i in range(0,4):
    price_dict[i]=price_list[i]
for i in price_dict.keys():
    print(i, price_dict[i])

0 32100
1 32150
2 32000
3 32500

In [84]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(0,4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [87]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(100 + (i-1)*10,price_list[i])

100 32150
110 32000
120 32500

In [90]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i],my_list[i+1] )

가 나
나 다
다 라

In [91]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [98]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[3-i],my_list[2-i] )

라 다
다 나
나 가

In [100]:
#178
my_list = [100, 200, 400, 800]
for i in range(3):
    print(my_list[i+1] - my_list[i])

100
200
400

In [105]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
    print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [109]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility=[]
for i in range(5):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [110]:
#181
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [111]:
#182
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [ ]:
#183
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [112]:
#184
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [115]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j], "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [118]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[2-i][j], "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [122]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[2-i][j-1], "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [123]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j], "호")
        print("="*5)

101 호
=====
102 호
=====
201 호
=====
202 호
=====
301 호
=====
302 호
=====

In [125]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j], "호")
    print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [126]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j], "호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [129]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [130]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j*1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [134]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [135]:
#194
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [136]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [137]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [138]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [142]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in ohlc[1:]:
    volatility.append(i[1]- i[2])
print(volatility)

[40, 30, 10]

In [143]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]- i[2])

10

In [145]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
result = 0
for i in ohlc[1:]:
    result += (i[0] -i[3])
print(result)

0

### 09 파이썬 함수

In [8]:
#201 <<< 입력값도, 리턴값도 없는 함수 경우
def print_coin():
    print('비트코인')

비트코인

In [9]:
#202
print_coin()

비트코인

In [18]:
#203
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [20]:
#204
def print_coin():
    for i in range(100):
        print('비트코인')

In [21]:
#205 <<< 함수가 정의되기 전에 호출되어서
hello()
def hello():
    print("Hi")

NameError: name 'hello' is not defined

In [22]:
#206
def message():
    print("A")
    print("B")
message()
print("C")
message()

A
B
C
A
B

In [25]:
#207
print("A") #1번째 출력

def message() : #3번째 출력
    print("B")

print("C") #2번째 출력
message() #3번째 출력

A
C
B

In [26]:
#208
print("A") #1
def message1() : #3
    print("B")
print("C") #2
def message2() : #5
    print("D")
message1() #3
print("E") #4
message2() #5

A
C
B
E
D

In [27]:
#209
def message1(): #2
    print("A")

def message2(): #1
    print("B")
    message1() #2

message2() #1

B
A

In [28]:
#210
def message1(): 
    print("A")

def message2():
    print("B")

def message3(): 
    for i in range (3) : #들여쓰기 된 for문 부터 출력한다.
        message2()
        print("C")
    message1() 

message3()

B
C
B
C
B
C
A

In [29]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [30]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [32]:
#213 <<< 함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터를 입력해야한다.
def 함수(문자열) :
    print(문자열)

In [ ]:
#214 <<< 두 개의 값을 입력 받아 덧셈 연산을 적용하려는 의도로 설계,
### 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

In [53]:
#215
def print_with_smile(string) :
    print (string + ":D")

In [59]:
#216
print_with_smile("안녕하세요")

안녕하세요:D

In [64]:
#217
def print_upper_price(price):
    print(price*1.3)
price=3
print_upper_price(price)

3.9000000000000004

In [ ]:
#218
def print_sum(a,b):
    print(a+b)

In [72]:
#219
def print_arithmetic_operation(a,b):
    print(a,"+",b,"=", a+b)
    print(a,"-",b,"=", a-b)
    print(a,"*",b,"=", a*b)
    print(a,"/",b,"=", a/b)
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [86]:
#220
def print_max(a,b,c):
    max_num = 0
    if a>max_num:
        max_num=a
    if b>max_num:
        max_num=b
    if c>max_num:
        max_num=c
    print(max_num)

In [89]:
#221
def print_reverse(string):
    print(string[::-1])
print_reverse("python")

nohtyp

In [91]:
#222
def print_score(score_list):
    print(sum(score_list)/len(score_list)) ##평균 구하는 방법
print_score ([1, 2, 3])

2.0

In [95]:
#223
def print_even(num_list):
    for v in num_list:
        if v % 2 == 0:
            print(v)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [3]:
#224
def print_keys(dic):
    for keys in dic.keys():
        print(keys)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [14]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(my_dict, key):
    print(my_dict[key]) ###리스트로 출력
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [33]:
#226
def print_5xn(str_a, num):
    number = int(len(str_a)/num)
    for i in range(number+1):
        print(str_a[(i) * (num):(i+1) * (num)])

In [34]:
print_5xn("아이엠어보이유알어걸내가진짜여행가고싶다", 5)

아이엠어보
이유알어걸
내가진짜여
행가고싶다

In [35]:
#227
def print_5xn(str_a, num):
    number = int(len(str_a)/num)
    for i in range(number+1):
        print(str_a[(i) * (num):(i+1) * (num)])

In [36]:
print_5xn("아이엠어보이유알어걸내가진짜여행가고싶다", 3)

아이엠
어보이
유알어
걸내가
진짜여
행가고
싶다

In [17]:
#228
def calc_monthly_salary(annual_salary):
    pay = int(annual_salary/12)
    return pay
calc_monthly_salary(12000000)

1000000

In [19]:
#230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

5번 라인에서 함수가 호출되면, 함수가 정의된 1번 라인으로 이동합니다.   
이 때 함수의 입력 변수 a에 100을 바인딩하고, b에 200을 바인딩합니다.

In [18]:
#229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [30]:
#231 <<< 에러발새
def n_plus_1 (n) :
    result = n + 1
n_plus_1(3)
print (result) ###함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능

NameError: name 'result' is not defined

In [34]:
#232
def make_url(str):
    return "www."+str+".com"
make_url("naver")

'www.naver.com'

In [35]:
#233
def make_list(str):
    return list(str)
make_list("abcd")

['a', 'b', 'c', 'd']

In [47]:
#234
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

In [48]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [48]:
#235
def convert_int(str):
    return int(str.replace(",",""))
convert_int("1,234,567")

1234567

In [49]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [51]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10))) ###안쪽 부터 차례로 해석하면 됩니다.
print(c)

22

In [52]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [53]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [54]:
#240 <<< 아리까리한 문제
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

---- 모듈 생략 ----

### 10 파이썬 클래스

In [2]:
#251
## 클래스: 하나의 타입을 정의하는 방법, 클래스로 만들어진 결과물을 객체

In [3]:
#252
class Human:
    pass

In [6]:
#253
class Human:
    pass
areum  = Human()

In [13]:
#254
class Human:
    def __init__(self):
        print("응애응애")
areum = Human()

응애응애

In [20]:
#255
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("아름", 25, "여자")
print(areum.name)
print(areum.age)
print(areum.sex)

아름
25
여자

In [21]:
#256
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [22]:
#257
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름:{} 나이:{} 성별:{}".format(self.name, self.age, self.sex))
areum = Human("아름", 25, "여자")
areum.who()

이름:아름 나이:25 성별:여자

In [25]:
#258
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print("이름:{} 나이:{} 성별:{}".format(self.name, self.age, self.sex))
        
    def setInfo(self, name, age, sex):
        print("이름:{} 나이:{} 성별:{}".format(self.name, self.age, self.sex))
        
areum = Human("모름", 0, "모름")
areum.who()
areum.setInfo("아름", 25, "여자")
areum.who()

이름:모름 나이:0 성별:모름
이름:모름 나이:0 성별:모름
이름:모름 나이:0 성별:모름

In [49]:
#259
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print("이름:{} 나이:{} 성별:{}".format(self.name, self.age, self.sex))
        
    def setInfo(self, name, age, sex):
        print("이름:{} 나이:{} 성별:{}".format(self.name, self.age, self.sex))
    
    def __del__(self):
        print("나의 죽음을 알리지마라")

areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 알리지마라

In [52]:
#260
class OMG : 
    def print() :
        print("Oh my god")
myStock = OMG()
OMG.print()

Oh my god

In [53]:
#261
class Stock:
    pass

In [55]:
#262
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [60]:
#263
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
    
a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)

삼성전자

In [61]:
#264
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

a = Stock(None, None)
a.set_code("005930")
print(a.code)

005930

In [64]:
#265
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code
삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [ ]:
#266
?

In [ ]:
#267
?

In [ ]:
#268
?

In [ ]:
#269
?

In [ ]:
#270
?

In [ ]:
#271
?

In [ ]:
#272
?

In [ ]:
#273
?

In [ ]:
#274
?

In [ ]:
#275
?

In [ ]:
#276
?

In [ ]:
#277
?

In [ ]:
#278
?

In [ ]:
#279
?

In [ ]:
#280
?

In [69]:
#280
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [71]:
#282
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    pass

In [ ]:
#283
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    pass

In [ ]:
#284

In [ ]:
#285

In [ ]:
#287

In [ ]:
#288

In [ ]:
#289

In [ ]:
#290