### 01 파이썬 시작하기

In [2]:
#001
print('hello world')

hello world

In [3]:
#002
print("mary's cosmetic")

mary's cosmetic

In [4]:
#003
print('신씨가 소리질렀다."도둑이야."')

신씨가 소리질렀다."도둑이야."

In [8]:
#004
print("C:\Windows")

C:\Windows

In [11]:
#005
print("안녕하세요.\n만나서\t\t반갑습니다.") #\n 은 줄바꿈, \t 탭의 역할을 합니다.

안녕하세요.
만나서		반갑습니다.

In [14]:
#006
print ("오늘은", "일요일")#오늘은 다음에 공백이 하나 있고 일요일이 출력됩니다.

오늘은 일요일

In [18]:
#007
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [19]:
#008
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [22]:
#009
print("first", end=""); print("second")

firstsecond

In [23]:
#010
print(5/3)

1.6666666666666667

### 02 파이썬 변수

In [25]:
#011
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [29]:
#012
시가총액=298000000000000
현재가=50000
per=15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [37]:
#013
s = "hello"
t = "python"
print(s+'!',t)

hello! python

In [40]:
#014
print(2+2*3)

8

In [45]:
#015
a="132"
print(type(a))

<class 'str'>

In [55]:
#016
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [59]:
#017
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [61]:
#018
data = 100
data = float(data)
print(data, type(data))

100.0 <class 'float'>

In [64]:
#019
year = 2020
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [66]:
#020
월=48584
총금액 = 월 * 36
print(총금액)

1749024

### 문자열

In [71]:
#021
letter = 'python'
letter[0],letter[2]

('p', 't')

In [84]:
#022
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [86]:
#023
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [94]:
#024
string = "PYTHON"
string[::-1]

'NOHTYP'

In [97]:
#025
phone_number = "010-1111-2222"
phone_number.replace('-',' ')

'010 1111 2222'

In [98]:
#026
phone_number = "010-1111-2222"
phone_number.replace('-','')

'01011112222'

In [112]:
#027
url = "http://sharebook.kr" ##문자열을 먼저 잘라
print(url[-2:])

kr

In [115]:
#028
lang='python'
lang[0]='p'
lang ##문자열은 수정할 수 없어 오류가 뜬다

NameError: name 'python' is not defined

In [129]:
#029
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

'Abcdfe2A354A32A'

In [130]:
#030
string ='abcd'
string.replace('b','B')
print(string)##abcd

abcd

In [132]:
#031
a="3"
b="4"
print(a+b) ##3과4 ##두 문자열에 대해 덧셈 기호는 문자열의 연결을 의미

34

In [133]:
#032
print("hi"*3) ##hi ##문자열에 대한 곱셈은 문자열의 반복을 의미

hihihi

In [134]:
#033
'-'*80

'--------------------------------------------------------------------------------'

In [142]:
#034
t1='python'
t2='java'
a=t1+' '+t2+' '
a*4

'python java python java python java python java '

In [151]:
#035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {name1} 나이: {0}" .format(10, name1="김민수"))
print("이름: {name2} 나이: {0}" .format(13, name2="이철희"))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [158]:
#036 ##35번 문제를 그대로 했다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {name1} 나이: {0}" .format(10, name1="김민수"))
print("이름: {name2} 나이: {0}" .format(13, name2="이철희"))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [166]:
#037 ##f-string을 사용해서 035번 문제를 다시 풀었다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print (f"이름: {name1} 나이: {age1}")
print (f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [176]:
#038
상장주식주 = "5,969,782,550"
컴마제거 = 상장주식주.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [180]:
#039
분기 = "2020/03(E) (IFRS연결)"
분기[:7] ##시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아 낸다.

'2020/03'

In [181]:
#040
data = "   삼성전자    "
data.strip()

'삼성전자'

In [182]:
#041
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [183]:
#042
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [189]:
#043
a = "hello"
a = a.capitalize()
print(a)

Hello

In [191]:
#044 ##문자열이 지정 문자열로 끝나는지 체크.
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [198]:
#045
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [200]:
#046
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [201]:
#047
a = "hello world"
a.split()

['hello', 'world']

In [209]:
#048
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
#049
date = "2020-05-01"
date.split('-')

In [210]:
#050
data = "039490     "
data.rstrip()

'039490'