### 01 파이썬 시작하기

In [2]:
#001
print('hello world')

hello world

In [3]:
#002
print("mary's cosmetic")

mary's cosmetic

In [4]:
#003
print('신씨가 소리질렀다."도둑이야."')

신씨가 소리질렀다."도둑이야."

In [8]:
#004
print("C:\Windows")

C:\Windows

In [11]:
#005
print("안녕하세요.\n만나서\t\t반갑습니다.") #\n 은 줄바꿈, \t 탭의 역할을 합니다.

안녕하세요.
만나서		반갑습니다.

In [14]:
#006
print ("오늘은", "일요일")#오늘은 다음에 공백이 하나 있고 일요일이 출력됩니다.

오늘은 일요일

In [18]:
#007
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [19]:
#008
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [22]:
#009
print("first", end=""); print("second")

firstsecond

In [23]:
#010
print(5/3)

1.6666666666666667

### 02 파이썬 변수

In [25]:
#011
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [29]:
#012
시가총액=298000000000000
현재가=50000
per=15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [37]:
#013
s = "hello"
t = "python"
print(s+'!',t)

hello! python

In [40]:
#014
print(2+2*3)

8

In [45]:
#015
a="132"
print(type(a))

<class 'str'>

In [55]:
#016
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [59]:
#017
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [61]:
#018
data = 100
data = float(data)
print(data, type(data))

100.0 <class 'float'>

In [64]:
#019
year = 2020
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [66]:
#020
월=48584
총금액 = 월 * 36
print(총금액)

1749024

### 문자열

In [71]:
#021
letter = 'python'
letter[0],letter[2]

('p', 't')

In [84]:
#022
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [86]:
#023 <<< 홀수 슬라이싱 [::2]
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [94]:
#024
string = "PYTHON"
string[::-1]

'NOHTYP'

In [97]:
#025
phone_number = "010-1111-2222"
phone_number.replace('-',' ')

'010 1111 2222'

In [98]:
#026
phone_number = "010-1111-2222"
phone_number.replace('-','')

'01011112222'

In [112]:
#027
url = "http://sharebook.kr" ##문자열을 먼저 잘라
print(url[-2:])

kr

In [115]:
#028
lang='python'
lang[0]='p'
lang ##문자열은 수정할 수 없어 오류가 뜬다

NameError: name 'python' is not defined

In [129]:
#029
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

'Abcdfe2A354A32A'

In [130]:
#030
string ='abcd'
string.replace('b','B')
print(string)##abcd

abcd

In [132]:
#031
a="3"
b="4"
print(a+b) ##3과4 ##두 문자열에 대해 덧셈 기호는 문자열의 연결을 의미

34

In [133]:
#032
print("hi"*3) ##hi ##문자열에 대한 곱셈은 문자열의 반복을 의미

hihihi

In [134]:
#033
'-'*80

'--------------------------------------------------------------------------------'

In [142]:
#034
t1='python'
t2='java'
a=t1+' '+t2+' '
a*4

'python java python java python java python java '

In [151]:
#035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {name1} 나이: {0}" .format(10, name1="김민수"))
print("이름: {name2} 나이: {0}" .format(13, name2="이철희"))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [158]:
#036 ##35번 문제를 그대로 했다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {name1} 나이: {0}" .format(10, name1="김민수"))
print("이름: {name2} 나이: {0}" .format(13, name2="이철희"))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [166]:
#037 ##f-string을 사용해서 035번 문제를 다시 풀었다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print (f"이름: {name1} 나이: {age1}")
print (f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [176]:
#038
상장주식주 = "5,969,782,550"
컴마제거 = 상장주식주.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [180]:
#039
분기 = "2020/03(E) (IFRS연결)"
분기[:7] ##시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아 낸다.

'2020/03'

In [181]:
#040
data = "   삼성전자    "
data.strip()

'삼성전자'

In [182]:
#041
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [183]:
#042
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [189]:
#043
a = "hello"
a = a.capitalize()
print(a)

Hello

In [191]:
#044 ##문자열이 지정 문자열로 끝나는지 체크.
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [198]:
#045
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [200]:
#046
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [201]:
#047
a = "hello world"
a.split()

['hello', 'world']

In [209]:
#048
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
#049
date = "2020-05-01"
date.split('-')

In [210]:
#050
data = "039490     "
data.rstrip()

'039490'

## 리스트 자료형

In [33]:
#051
movie_rank = ['닥터스트레인지','스플릿','럭키']
movie_rank

['닥터스트레인지', '스플릿', '럭키']

In [34]:
#052 append-뒤에 추가
movie_rank = ['닥터스트레인지','스플릿','럭키']
movie_rank.append('배트맨')
movie_rank

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [35]:
#053 insert- a번째 위치의 b추가
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [36]:
#054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [37]:
#055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [38]:
#056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [39]:
#057
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [40]:
#058
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [41]:
#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [42]:
#060
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
avg

3.0

In [43]:
#061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [46]:
#062 <<< 홀수 슬라이싱 [::2]
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [50]:
#063 <<< 짝수 슬라이싱 nums[1::2]
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [53]:
#064
nums = [1, 2, 3, 4, 5]
nums.reverse()
nums

[5, 4, 3, 2, 1]

In [63]:
#065
interest = ['삼성전자', 'LG전자', 'Naver']
print (interest[0],interest[2])

삼성전자 Naver

In [67]:
#066
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [68]:
#067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [73]:
#068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [74]:
#069
string = "삼성전자/LG전자/Naver"
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [78]:
#070
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

## 튜플

In [82]:
#071
my_variable = ()
my_variable, type(my_variable)

((), tuple)

In [83]:
#072
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [91]:
#073 
num = (1, )
num, type(num)
##type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식하기 때문에
##하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.

((1,), tuple)

In [93]:
#074 <<< 튜플은 요솟값 변경이 안된다.
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [97]:
#075 <<< 괄호없이 동작하기도 한다.
t = 1, 2, 3, 4
t

(1, 2, 3, 4)

In [100]:
#076 <<< 튜플의 값은 변경할 수 없다.
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

In [102]:
#077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
data

['삼성전자', 'LG전자', 'SK Hynix']

In [103]:
#078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
data

('삼성전자', 'LG전자', 'SK Hynix')

In [104]:
#079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [106]:
#080 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라. <<< 전혀 모르는 문제..
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 딕셔너리

In [ ]:
#081 <<< 별표현식 문제 몰라서 오늘은 패스,,

In [ ]:
#082 <<< 별표현식 문제 몰라서 오늘은 패스,,

In [ ]:
#083 <<< 별표현식 문제 몰라서 오늘은 패스,,

In [111]:
#084
temp = {}
temp

{}

In [115]:
#085
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
dic

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [122]:
#086
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
dic['죠스바']=1200
dic['월드콘']=1500
dic

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [126]:
#087
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
print("메로나", dic['메로나'])

메로나 1000

In [128]:
#088
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
dic['메로나'] = 1300
dic

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [132]:
#089
dic = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
del dic['메로나']
dic

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [134]:
#090 << 딕셔너리에 존재하지 않는 키를 사용하면 에러 
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (641059975.py, line 4)

In [141]:
#091
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [145]:
#092 <<< 이중 인덱싱
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory['메로나'][0],'원')

300 원

In [147]:
#093
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory['메로나'][1],'개')

20 개

In [149]:
#094
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
inventory['월드콘'] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [151]:
#095 <<< key리스트
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [152]:
#096
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [161]:
#097
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(icecream.values())

6700

In [162]:
#098
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [165]:
#099 <<< 두 개의 튜플을 하나의 딕셔너리로 변환
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [166]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}